body{
    margin: 0;
    padding: 0;
    background-color: #191d2b;
}
.box{
    width: 700px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #fff;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    transition: all ease-in-out;
}
.box li a:hover{
    color: #b9b9b9;
}

.h-shape {
    transition: all 0.4s ease-in-out;
    width: 27%;
    height: 100%;
    background-color: rgba(105, 233, 159, 1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}